%body{ id: body_id, class: body_class }
  #wrapper
    #header
      .wrapper
        #header-content= render 'layouts/header'
    - if content_for? :bow
      #bow
        .wrapper
          #bow-content= yield :bow
    #main
      .wrapper
        #main-content
          - if content_for? :port
            #port= yield :port 
          #content= yield
          - if content_for? :starboard
            #starboard= yield :starboard
    - if content_for? :stern
      #stern
        .wrapper
          #stern-content= yield :stern
    #footer
      .wrapper
        #footer-content= render 'layouts/footer'